.fixtures-page {
  padding: 10px 5%;
  h1 {
    text-transform: capitalize;
    font-size: 2em;
    margin: 20px 0;
  }
  hr {
    width: 100%;
    margin: 10px 0;
  }
  .page-grid {
    width: 700px;
    @media (max-width: 768px) {
      width: 100%;
    }
    .mid-column {
      width: 100%;
      .fixture-groups {
        padding: 20px;
        margin: 10px 0;
        h2 {
          font-weight: 500;
          text-transform: capitalize;
          //   text-align: center;
        }
        .fixtures {
          width: 100%;
          .fixtue {
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
            gap: 10px;
            align-items: center;

            .fixture {
              justify-content: space-between;
              img {
                width: 30px;
                // margin: 10px;
              }
              span {
                width: 100%;
                font-size: 12px;
                font-weight: 500;
                text-transform: capitalize;
              }
            }
            .mid {
              background-color: #fbfbfb45;
              padding: 5px;
              text-align: center;
              h6 {
                font-size: 20px;
              }
              p{
                font-size: 10px;
              }
            }
          }
          .date {
            text-align: center;
            font-size: 12px;
          }
        }
      }
    }
  }
}
