.standings-page {
  padding: 20px 5%;

  h1 {
    text-transform: uppercase;
  }

  .group {
    h2 {
      margin-left: 20px;
      padding: 10px;
    }

    h3 {
      margin-left: 20px;
      padding: 10px;
      border-left: solid 3px red;
    }

    .grp_name {
      padding: 10px;
      margin: 20px 0 0 0;
      text-transform: uppercase;
      border-radius: 0;
    }

    .standings {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      gap: 5px;
      width: 100%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: inherit;

      .standings-header,
      .standings-row {
        display: contents;
      }

      .standings-header div,
      .standings-row div {
        padding: 5px;
        text-transform: uppercase;
        text-align: left;
        font-weight: 400;

        &:first-child {
          width: 150px;
          &:nth-child(4) {
            background-color: green;
            border-left: 2px solid #009a4d;
          }

          a {
            color: inherit;
            font-size: 14px;

            &:hover {
              color: red;
              font-weight: bold;
            }
          }
        }
      }

      .standings-header div {
        font-weight: bold;
        background-color: #9b9b9b45;
      }

      .standings-row.first-row {
        border-right: 2px solid green;
      }
    }
  }
}
