.competition {
  padding: 20px;
//   background-color: red;
  .competitions {
    .left {
      h3 {
        font-size: 20px;
        margin: 10px 0;
        text-transform: uppercase;
      }
      .seasons {
        list-style: none;
        .season {
          a {
            margin: 10px 0;
            text-transform: capitalize;
            font-size: 18px;
            color: inherit;
          }
        }
      }
    }
  }
}
