.dashboard-wrapper {
  padding: 20px;
}
@media (max-width: 600px) {
  .dashboard-wrapper {
    padding: 10px;
  }
}
.dashboard-wrapper .inner-dashboard {
  width: 100%;
  height: 94vh;
  background-color: inherit;
}
.dashboard-wrapper .inner-dashboard .sidebar {
  width: 250px;
  height: 100%;
  position: relative;
  z-index: 990;
  display: block;
}
@media (max-width: 900px) {
  .dashboard-wrapper .inner-dashboard .sidebar {
    display: none;
  }
}
.dashboard-wrapper .inner-dashboard .sidebar .big {
  overflow: hidden; /* Hide overflow content */
  padding: 20px 0;
  border-radius: 10px;
  position: fixed;
  top: 20px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
  width: 250px; /* Adjust the width as needed */
  height: 95%;
}
.dashboard-wrapper .inner-dashboard .sidebar .big .logo-brand {
  width: 100%;
  padding: 0 20px;
  justify-content: space-evenly;
}
.dashboard-wrapper .inner-dashboard .sidebar .big .logo-brand img {
  width: 50px;
}
.dashboard-wrapper .inner-dashboard .sidebar .big .logo-brand h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: inherit;
}
.dashboard-wrapper .inner-dashboard .sidebar .big .dash-items {
  flex-direction: column;
  margin: 20px;
  align-items: flex-start;
}
.dashboard-wrapper .inner-dashboard .sidebar .big .dash-items .dash-item {
  width: 100%;
  padding: 10px 20px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  margin: 10px 0;
}
.dashboard-wrapper .inner-dashboard .sidebar .big .dash-items .dash-item:hover {
  background-color: #fff;
  color: red;
}
.dashboard-wrapper .inner-dashboard .sidebar .big .dash-items .dash-item i {
  width: 30px;
  margin-right: 10px;
}
.dashboard-wrapper .inner-dashboard .sidebar .big .dash-items .dash-item .dash-link {
  color: inherit;
  text-transform: capitalize;
  font-size: 16px;
}
.dashboard-wrapper .inner-dashboard .sidebar .big .c-support {
  margin: 20px;
  padding: 20px;
  background-color: rgba(204, 204, 204, 0.3333333333);
  border-radius: 10px;
}
.dashboard-wrapper .inner-dashboard .sidebar .big .c-support .support {
  flex-direction: column;
  color: inherit;
}
.dashboard-wrapper .inner-dashboard .sidebar .big .c-support .support p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}
.dashboard-wrapper .inner-dashboard .sidebar .big .c-support .support .btn-support {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: red;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.dashboard-wrapper .inner-dashboard .main-content-area {
  flex: 1; /* Take remaining width */
  height: 100%;
  background-color: inherit;
  overflow-y: auto;
  padding: 0 10px;
  position: relative;
}
@media (max-width: 600px) {
  .dashboard-wrapper .inner-dashboard .main-content-area {
    padding: 10px;
  }
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 990;
  padding: 10px 20px;
  border-radius: 10px;
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .sidebar-toggle {
  font-size: 2em;
  font-weight: bold;
  display: none;
}
@media (max-width: 900px) {
  .dashboard-wrapper .inner-dashboard .main-content-area .top-nav .sidebar-toggle {
    display: block;
  }
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .school-id {
  width: 250px;
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .school-id img {
  width: 50px;
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .school-id h3 {
  font-size: 15px;
  margin-left: 20px;
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .search-form {
  width: 40%;
  background-color: inherit;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px #919191;
}
@media (max-width: 768px) {
  .dashboard-wrapper .inner-dashboard .main-content-area .top-nav .search-form {
    display: none;
  }
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .search-form input {
  width: 100%;
  padding: 5px 10px;
  border: 0 !important;
  outline: none;
  font-size: 17px;
  background-color: inherit;
  caret-color: black;
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .search-form i {
  padding: 10px;
  font-size: 19px;
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .controls {
  padding: 5px;
  border-radius: 10px;
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .controls .control-item {
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
  position: relative;
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .controls .control-item .account-toggle {
  width: 200px;
  padding: 20px;
  position: absolute;
  top: 40px;
  right: 0;
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .controls .control-item .account-toggle .modal-content {
  flex-direction: column;
  align-items: flex-start;
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .controls .control-item .account-toggle .modal-content .prof-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .controls .control-item .account-toggle .modal-content .prof-img img {
  width: 100%;
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .controls .control-item .account-on {
  display: block;
}
.dashboard-wrapper .inner-dashboard .main-content-area .top-nav .controls .control-item .account-off {
  display: none;
}
.dashboard-wrapper .inner-dashboard .main-content-area .content {
  padding: 20px;
  background-color: inherit;
}
.dashboard-wrapper .inner-dashboard .main-content-area .dash-footer {
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}/*# sourceMappingURL=dashboard.css.map */