<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}{%endblock%} login | Ecom</title>
    {% comment %} {% block title%}New product{%endblock%} {% endcomment %}

    <link rel="stylesheet" href="{% static 'css/all.css'%}" />

    <link rel="stylesheet" href="{% static 'css/main.css'%}" />

    <link rel="stylesheet" href="{% static 'css/profile/auth.css'%}" />

    <link rel="stylesheet" href="{% static 'css/all.min.css'%}" />
    <!-- <link rel="stylesheet" href="{% static 'styles/sidebar/sidebar.css'%}"> -->
  </head>
  <body>
    <div class="account flex">
      <div class="flex-account flex">
        <div class="left">
          <form
            method="POST"
            action=""
            class="form-ctrl"
            enctype="multipart/form-data"
          >
            {% csrf_token %} {% comment %} {%form%} {% endcomment %}
            {{form.as_p}}
            <button type="submit" class="btn secondary">register</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
