<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USSSA | {% block title %}{% endblock %}</title>
    <link rel="icon" href="{%static 'images/logo.png'%}" sizes="35x35" />
    <link rel="stylesheet" href="{% static 'css/main/main.css'%}" />

    <link rel="stylesheet" href="{% static 'css/fixture_detail.css'%}" />
    <link rel="stylesheet" href="{% static 'css/schools.css'%}" />
    <link rel="stylesheet" href="{% static 'css/fixture_detail.css'%}" />
    <link rel="stylesheet" href="{% static 'css/team/team.css'%}" />
    <link rel="stylesheet" href="{% static 'css/athlete/athlete.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/header/header.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/footer/footer.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/football/standings.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/football/fixtures.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/hero/hero.css'%}" />
    <link rel="stylesheet" href="{% static 'css/profile/school_new.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/school/profile.css'%}" />

    <link rel="stylesheet" href="{% static 'styles/all.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/main.css'%}" />

    <link rel="stylesheet" href="{%static 'styles/contact/contact.css'%}" />

    <link
      rel="stylesheet"
      href="{% static 'styles/student/studentpage.css'%}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'django_select2/django_select2.css' %}"
    />

    <script>
      type = "text/javascript";
      src = "{% static 'django_select2/django_select2.js' %}";
    </script>
  </head>
  <body>
    <div class="dashboard-wrapper light">
      <div class="top-bar glue"></div>
      <div class="main-bar flex">
        <nav class="navbar flex">
          <div class="logo-brand">
            <img src="{% static 'images/logo.png'%}" alt="" />
          </div>
          <div class="main-toggle" onclick="menuToggle()">
            <i class="fa fa-bars"></i>
          </div>
          <ul class="navbar-nav flex">
            <li class="nav-item">
              <a href="{% url 'football_fixtures'%}" class="navlink">Fixtures</a>
            </li>
            <li class="nav-item">
              <a href="" class="navlink"
                >Results</a
              >
            </li>
            <li class="nav-item">
              <a href="{%url 'football_standings'%}" class="navlink"
                >Standings</a
              >
            </li>
            <li class="nav-item">
              <a href="" class="navlink">Handball</a>
            </li>
            <li class="nav-item">
              <a href="" class="navlink">Netball</a>
            </li>
            <li class="nav-item">
              <a href="" class="navlink">Volleyball</a>
            </li>
            <li class="nav-item">
              <a href="" class="navlink">More ...</a>
              <i class="fa fa-chevron-down"></i>
              <div class="drop-menu glue">
                <div class="menubox">
                  <div class="menu_links flex">
                    <span class="drop-item"
                      ><a href="" class="droplink">lacrose</a></span
                    >
                    <span class="drop-item"
                      ><a href="" class="droplink">swimming</a></span
                    >
                    <span class="drop-item"
                      ><a href="" class="droplink">mind games</a></span
                    >
                    <span class="drop-item"
                      ><a href="" class="droplink">woodball</a></span
                    >
                    <span class="drop-item"
                      ><a href="" class="droplink">hockey</a></span
                    >
                    <span class="drop-item"
                      ><a href="" class="droplink">News</a></span
                    >
                  </div>
                  <div class="drop-content"></div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="navbarnav nav-menu-off">
            <li class="nav-item">
              <a href="{% url 'football'%}" class="navlink">Football</a>
            </li>
            <li class="nav-item">
              <a href="" class="navlink"
                >Basketball 3X3</a
              >
            </li>
            <li class="nav-item">
              <a href="" class="navlink"
                >Basketball 5X5</a
              >
            </li>
            <li class="nav-item">
              <a href="" class="navlink">Handball</a>
            </li>
            <li class="nav-item">
              <a href="" class="navlink">Netball</a>
            </li>
            <li class="nav-item">
              <a href="" class="navlink">Volleyball</a>
            </li>
            <li class="nav-item">
              <a href="" class="navlink">More ...</a>
              <i class="fa fa-chevron-down"></i>
              <div class="drop-menu glue">
                <div class="menubox">
                  <div class="menu_links flex">
                    <span class="drop-item"
                      ><a href="" class="droplink">lacrose</a></span
                    >
                    <span class="drop-item"
                      ><a href="" class="droplink">swimming</a></span
                    >
                    <span class="drop-item"
                      ><a href="" class="droplink">mind games</a></span
                    >
                    <span class="drop-item"
                      ><a href="" class="droplink">woodball</a></span
                    >
                    <span class="drop-item"
                      ><a href="" class="droplink">hockey</a></span
                    >
                    <span class="drop-item"
                      ><a href="" class="droplink">News</a></span
                    >
                  </div>
                  <div class="drop-content"></div>
                </div>
              </div>
            </li>
          </ul>
        </nav>
        <div class="controls flex">
          <li class="control-item">
            <i class="fa fa-th-large"></i>
            <div class="notification modal-popup"></div>
          </li>
          <li class="control-item">
            <i class="fa fa-bell"></i>
            <div class="notification modal-popup"></div>
          </li>
          <li class="control-item setting" id="iconed" onclick="Toggletheme()">
            <i class="fa fa-sun"></i>
          </li>
          <li class="control-item setting">
            <i class="fa fa-cog" id="cwontrols" onclick="ToggleAccount()"></i>
            <div id="contoggle" class="account-toggle glue account-off">
              <!-- Modal content -->
              {% if user.is_authenticated%}
              <div class="modal-content flex">
                <!-- check if the loged in user is a school -->
                {% if user.is_school%}
                <div class="prof-img">
                  <img src="{{ user.school.badge.url}}" alt="" />
                </div>
                <span class="modal-item"><a href="">Profile</a></span>
                <span class="modal-item"
                  ><a href="{% url 'schooldash' %}">Dashboard</a></span
                >
                <span class="modal-item"><a href="">Account</a></span>
                <span class="modal-item"
                  ><a href="{%url 'logout'%}">Logout</a></span
                >
                {%else%}
                <span class="modal-item"><a href="">Profile</a></span>
                <span class="modal-item"
                  ><a href="{% url 'dashboard' %}">Dashboard</a></span
                >
                <span class="modal-item"><a href="">Account</a></span>
                <span class="modal-item"
                  ><a href="{% url 'logout' %}">Logout</a></span
                >
                {%endif%}
              </div>
              {%else%}
              <span class="modal-item"
                ><a href="{% url 'login'%}">Login</a></span
              >
              {%endif%}
            </div>
          </li>
        </div>
      </div>
      <div class="content-area">{% block content %}{% endblock %}</div>
      <div class="footer-section">
        <div class="footer grid4">
          <div class="footer-item">
            <h3>About USSSA</h3>
            <ul class="footer_links">
              <li class="footer_link">
                <a href="">Who we are</a>
              </li>
              <li class="footer_link">
                <a href="">what we do</a>
              </li>
              <li class="footer_link">
                <a href="">core values</a>
              </li>
              <li class="footer_link">
                <a href="">usssa rules</a>
              </li>
              <li class="footer_link">
                <a href="">talent center</a>
              </li>
            </ul>
          </div>
          <div class="footer-item">
            <h3>championships</h3>
            <ul class="footer_links">
              <li class="footer_link">
                <a href="">Elite Championship</a>
              </li>

              <li class="footer_link">
                <a href="">Fresh Diary Secondary Schools Games</a>
              </li>

              <li class="footer_link">
                <a href="">Football Boys Championship</a>
              </li>

              <li class="footer_link">
                <a href="">National Swimming Gala</a>
              </li>

              <li class="footer_link">
                <a href="">Ball Games II</a>
              </li>
            </ul>
          </div>
          <div class="footer-item">
            <h3>programs</h3>
            <ul class="footer_links">
              <li class="footer_link">
                <a href="">capacity building</a>
              </li>
              <li class="footer_link">
                <a href="">Events</a>
              </li>
              <li class="footer_link">
                <a href="">press release</a>
              </li>
              <li class="footer_link">
                <a href="">engagements</a>
              </li>
              <li class="footer_link">
                <a href="">newsletters</a>
              </li>
            </ul>
          </div>
          <div class="footer-item">
            <h3>quick links</h3>
            <ul class="footer_links">
              <li class="footer_link">
                <a href="">USSSA shop</a>
              </li>
              <li class="footer_link">
                <a href="">FEASSA</a>
              </li>
              <li class="footer_link">
                <a href="">FAS</a>
              </li>
              <li class="footer_link">
                <a href="">ISF</a>
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="footer-menu">
          <ul class="footer-nav flex">
            <a href="" class="footer_nav_link">feedBack</a>
            <a href="" class="footer_nav_link">terms of use</a>
            <a href="" class="footer_nav_link">media distribution</a>
            <a href="" class="footer_nav_link">privacy policy</a>
            <a href="" class="footer_nav_link">cookie policy</a>
            <a href="" class="footer_nav_link">rules & regulations</a>
          </ul>
        </div>
        <div class="copy flex">
          <p>&copy;{% now "Y" %}USSSA All rights reserved</p>
        </div>
      </div>
    </div>
    <script src="{% static 'scripts/app.js'%}"></script>
    <script src="{% static 'js/nots.js'%}"></script>
    <script src="{% static 'js/menu.js'%}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'js/popup.js'%}"></script>
  </body>
</html>
